@import url(fonts/clear-sans.css);
html, body {
  margin: 0;
  padding: 0;
  background: #faf8ef;
  color: #776e65;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 18px; }

body {
  margin: 80px 0; }

.heading:after {
  content: "";
  display: block;
  clear: both; }

h1.title {
  font-size: 80px;
  font-weight: bold;
  margin: 0;
  display: block;
  float: left; }

@-webkit-keyframes move-up {
  0% {
    top: 25px;
    opacity: 1; }

  100% {
    top: -50px;
    opacity: 0; } }
@-moz-keyframes move-up {
  0% {
    top: 25px;
    opacity: 1; }

  100% {
    top: -50px;
    opacity: 0; } }
@keyframes move-up {
  0% {
    top: 25px;
    opacity: 1; }

  100% {
    top: -50px;
    opacity: 0; } }
.scores-container {
  float: right;
  text-align: right; }

.score-container, .best-container {
  position: relative;
  display: inline-block;
  background: #bbada0;
  padding: 15px 25px;
  font-size: 25px;
  height: 25px;
  line-height: 47px;
  font-weight: bold;
  border-radius: 3px;
  color: white;
  margin-top: 8px;
  text-align: center; }
  .score-container:after, .best-container:after {
    position: absolute;
    width: 100%;
    top: 10px;
    left: 0;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 13px;
    text-align: center;
    color: #eee4da; }
  .score-container .score-addition, .best-container .score-addition {
    position: absolute;
    right: 30px;
    color: red;
    font-size: 25px;
    line-height: 25px;
    font-weight: bold;
    color: rgba(119, 110, 101, 0.9);
    z-index: 100;
    -webkit-animation: move-up 600ms ease-in;
    -moz-animation: move-up 600ms ease-in;
    animation: move-up 600ms ease-in;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    animation-fill-mode: both; }

.score-container:after {
  content: "Score"; }

.best-container:after {
  content: "Best"; }

p {
  margin-top: 0;
  margin-bottom: 10px;
  line-height: 1.65; }

a {
  color: #776e65;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer; }

strong.important {
  text-transform: uppercase; }

hr {
  border: none;
  border-bottom: 1px solid #d8d4d0;
  margin-top: 20px;
  margin-bottom: 30px; }

.container {
  width: 365px;
  margin: 0 auto; }

@-webkit-keyframes fade-in {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }
@-moz-keyframes fade-in {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }
@keyframes fade-in {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }
.game-container {
  margin-top: 40px;
  position: relative;
  cursor: default;
  -webkit-touch-callout: none;
  -ms-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  background: #bbada0;
  width: 313.29394px;
  height: 542.64101px;
  overflow: visible;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .game-container:after {
    content: "";
    position: absolute;
    left: -155.64697px;
    bottom: 0;
    width: 0;
    height: 0;
    border-bottom: 271.32051px solid transparent;
    border-top: 271.32051px solid transparent;
    border-right: 156.64697px solid #bbada0; }
  .game-container:before {
    content: "";
    position: absolute;
    right: -155.64697px;
    bottom: 0;
    width: 0;
    height: 0;
    border-bottom: 271.32051px solid transparent;
    border-top: 271.32051px solid transparent;
    border-left: 156.64697px solid #bbada0; }
  .game-container .game-message {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(238, 228, 218, 0.5);
    z-index: 100;
    text-align: center;
    -webkit-animation: fade-in 800ms ease 1200ms;
    -moz-animation: fade-in 800ms ease 1200ms;
    animation: fade-in 800ms ease 1200ms;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    animation-fill-mode: both; }
    .game-container .game-message p {
      font-size: 60px;
      font-weight: bold;
      height: 60px;
      line-height: 60px;
      margin-top: 222px; }
    .game-container .game-message .lower {
      display: block;
      margin-top: 59px; }
    .game-container .game-message a {
      display: inline-block;
      background: #8f7a66;
      border-radius: 3px;
      padding: 0 20px;
      text-decoration: none;
      color: #f9f6f2;
      height: 40px;
      line-height: 42px;
      margin-left: 9px; }
      .game-container .game-message a.keep-playing-button {
        display: none; }
    .game-container .game-message.game-won {
      background: rgba(237, 194, 46, 0.5);
      color: #f9f6f2; }
      .game-container .game-message.game-won a.keep-playing-button {
        display: inline-block; }
    .game-container .game-message.game-won, .game-container .game-message.game-over {
      display: block; }

.grid-container {
  margin-top: 40.5px;
  margin-left: -127.49078px;
  display: table;
  position: absolute;
  z-index: 1; }

.grid-row {
  margin-bottom: 39.16025px; }
  .grid-row:nth-child(1), .grid-row:nth-child(5) {
    margin-left: 115.6551px; }
  .grid-row:nth-child(2), .grid-row:nth-child(4) {
    margin-left: 57.82755px; }
  .grid-row:last-child {
    margin-bottom: 0; }
  .grid-row:after {
    content: "";
    display: block;
    clear: both; }

.grid-cell {
  display: table-cell;
  padding-left: 0;
  padding-right: 10px;
  margin-right: 10px;
  border-radius: 3px; }
  .grid-cell .hexagon {
    background: #ccc0b4;
    width: 105.6551px;
    height: 61px;
    position: relative; }
    .grid-cell .hexagon:after {
      content: "";
      position: absolute;
      top: -29.5px;
      left: 0;
      width: 0;
      height: 0;
      border-left: 52.82755px solid transparent;
      border-right: 52.82755px solid transparent;
      border-bottom: 30.5px solid #ccc0b4; }
    .grid-cell .hexagon:before {
      content: "";
      position: absolute;
      bottom: -29.5px;
      left: 0;
      width: 0;
      height: 0;
      border-left: 52.82755px solid transparent;
      border-right: 52.82755px solid transparent;
      border-top: 30.5px solid #ccc0b4; }
    .grid-cell .hexagon:last-child {
      margin-right: 0;
      padding-right: 0; }
    .grid-cell .hexagon:first-child {
      padding-left: 0; }

.grid-row:nth-child(3) > .grid-cell:nth-child(3) .hexagon {
  background: transparent; }
  .grid-row:nth-child(3) > .grid-cell:nth-child(3) .hexagon:after, .grid-row:nth-child(3) > .grid-cell:nth-child(3) .hexagon:before {
    border-color: transparent; }

.tile-container {
  position: absolute;
  z-index: 2; }

.tile, .tile .tile-inner {
  line-height: 73px; }
.tile .tile-inner {
  background: #eee4da;
  width: 106.52112px;
  height: 61.5px;
  position: relative; }
  .tile .tile-inner:after {
    content: "";
    position: absolute;
    top: -29.75px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 53.26056px solid transparent;
    border-right: 53.26056px solid transparent;
    border-bottom: 30.75px solid #eee4da; }
  .tile .tile-inner:before {
    content: "";
    position: absolute;
    bottom: -29.75px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 53.26056px solid transparent;
    border-right: 53.26056px solid transparent;
    border-top: 30.75px solid #eee4da; }
.tile.tile-position-1-1 {
  -webkit-transform: translate(-11.83568px, 40.5px);
  -moz-transform: translate(-11.83568px, 40.5px);
  transform: translate(-11.83568px, 40.5px); }
.tile.tile-position-1-2 {
  -webkit-transform: translate(-69.66323px, 140.66025px);
  -moz-transform: translate(-69.66323px, 140.66025px);
  transform: translate(-69.66323px, 140.66025px); }
.tile.tile-position-1-3 {
  -webkit-transform: translate(-127.49078px, 240.82051px);
  -moz-transform: translate(-127.49078px, 240.82051px);
  transform: translate(-127.49078px, 240.82051px); }
.tile.tile-position-2-1 {
  -webkit-transform: translate(103.81942px, 40.5px);
  -moz-transform: translate(103.81942px, 40.5px);
  transform: translate(103.81942px, 40.5px); }
.tile.tile-position-2-2 {
  -webkit-transform: translate(45.99187px, 140.66025px);
  -moz-transform: translate(45.99187px, 140.66025px);
  transform: translate(45.99187px, 140.66025px); }
.tile.tile-position-2-3 {
  -webkit-transform: translate(-11.83568px, 240.82051px);
  -moz-transform: translate(-11.83568px, 240.82051px);
  transform: translate(-11.83568px, 240.82051px); }
.tile.tile-position-2-4 {
  -webkit-transform: translate(-69.66323px, 340.98076px);
  -moz-transform: translate(-69.66323px, 340.98076px);
  transform: translate(-69.66323px, 340.98076px); }
.tile.tile-position-3-1 {
  -webkit-transform: translate(219.47452px, 40.5px);
  -moz-transform: translate(219.47452px, 40.5px);
  transform: translate(219.47452px, 40.5px); }
.tile.tile-position-3-2 {
  -webkit-transform: translate(161.64697px, 140.66025px);
  -moz-transform: translate(161.64697px, 140.66025px);
  transform: translate(161.64697px, 140.66025px); }
.tile.tile-position-3-3 {
  -webkit-transform: translate(103.81942px, 240.82051px);
  -moz-transform: translate(103.81942px, 240.82051px);
  transform: translate(103.81942px, 240.82051px); }
.tile.tile-position-3-4 {
  -webkit-transform: translate(45.99187px, 340.98076px);
  -moz-transform: translate(45.99187px, 340.98076px);
  transform: translate(45.99187px, 340.98076px); }
.tile.tile-position-3-5 {
  -webkit-transform: translate(-11.83568px, 441.14102px);
  -moz-transform: translate(-11.83568px, 441.14102px);
  transform: translate(-11.83568px, 441.14102px); }
.tile.tile-position-4-2 {
  -webkit-transform: translate(277.30207px, 140.66025px);
  -moz-transform: translate(277.30207px, 140.66025px);
  transform: translate(277.30207px, 140.66025px); }
.tile.tile-position-4-3 {
  -webkit-transform: translate(219.47452px, 240.82051px);
  -moz-transform: translate(219.47452px, 240.82051px);
  transform: translate(219.47452px, 240.82051px); }
.tile.tile-position-4-4 {
  -webkit-transform: translate(161.64697px, 340.98076px);
  -moz-transform: translate(161.64697px, 340.98076px);
  transform: translate(161.64697px, 340.98076px); }
.tile.tile-position-4-5 {
  -webkit-transform: translate(103.81942px, 441.14102px);
  -moz-transform: translate(103.81942px, 441.14102px);
  transform: translate(103.81942px, 441.14102px); }
.tile.tile-position-5-1 {
  -webkit-transform: translate(450.78472px, 40.5px);
  -moz-transform: translate(450.78472px, 40.5px);
  transform: translate(450.78472px, 40.5px); }
.tile.tile-position-5-2 {
  -webkit-transform: translate(392.95717px, 140.66025px);
  -moz-transform: translate(392.95717px, 140.66025px);
  transform: translate(392.95717px, 140.66025px); }
.tile.tile-position-5-3 {
  -webkit-transform: translate(335.12962px, 240.82051px);
  -moz-transform: translate(335.12962px, 240.82051px);
  transform: translate(335.12962px, 240.82051px); }
.tile.tile-position-5-4 {
  -webkit-transform: translate(277.30207px, 340.98076px);
  -moz-transform: translate(277.30207px, 340.98076px);
  transform: translate(277.30207px, 340.98076px); }
.tile.tile-position-5-5 {
  -webkit-transform: translate(219.47452px, 441.14102px);
  -moz-transform: translate(219.47452px, 441.14102px);
  transform: translate(219.47452px, 441.14102px); }

.tile {
  position: absolute;
  -webkit-transition: 100ms ease-in-out;
  -moz-transition: 100ms ease-in-out;
  transition: 100ms ease-in-out;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform; }
  .tile .tile-inner {
    background: #eee4da;
    text-align: center;
    font-weight: bold;
    z-index: 10;
    font-size: 55px; }
  .tile.tile-2 .tile-inner {
    background: #eee4da;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0), inset 0 0 0 1px rgba(255, 255, 255, 0); }
    .tile.tile-2 .tile-inner:before {
      border-top-color: #eee4da; }
    .tile.tile-2 .tile-inner:after {
      border-bottom-color: #eee4da; }
  .tile.tile-4 .tile-inner {
    background: #ede0c8;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0), inset 0 0 0 1px rgba(255, 255, 255, 0); }
    .tile.tile-4 .tile-inner:before {
      border-top-color: #ede0c8; }
    .tile.tile-4 .tile-inner:after {
      border-bottom-color: #ede0c8; }
  .tile.tile-8 .tile-inner {
    color: #f9f6f2;
    background: #f2b179; }
    .tile.tile-8 .tile-inner:before {
      border-top-color: #f2b179; }
    .tile.tile-8 .tile-inner:after {
      border-bottom-color: #f2b179; }
  .tile.tile-16 .tile-inner {
    color: #f9f6f2;
    background: #f59563; }
    .tile.tile-16 .tile-inner:before {
      border-top-color: #f59563; }
    .tile.tile-16 .tile-inner:after {
      border-bottom-color: #f59563; }
  .tile.tile-32 .tile-inner {
    color: #f9f6f2;
    background: #f67c5f; }
    .tile.tile-32 .tile-inner:before {
      border-top-color: #f67c5f; }
    .tile.tile-32 .tile-inner:after {
      border-bottom-color: #f67c5f; }
  .tile.tile-64 .tile-inner {
    color: #f9f6f2;
    background: #f65e3b; }
    .tile.tile-64 .tile-inner:before {
      border-top-color: #f65e3b; }
    .tile.tile-64 .tile-inner:after {
      border-bottom-color: #f65e3b; }
  .tile.tile-128 .tile-inner {
    color: #f9f6f2;
    background: #edcf72;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.2381), inset 0 0 0 1px rgba(255, 255, 255, 0.14286);
    font-size: 45px; }
    .tile.tile-128 .tile-inner:before {
      border-top-color: #edcf72; }
    .tile.tile-128 .tile-inner:after {
      border-bottom-color: #edcf72; }
    @media screen and (max-width: 385px) {
      .tile.tile-128 .tile-inner {
        font-size: 25px; } }
  .tile.tile-256 .tile-inner {
    color: #f9f6f2;
    background: #edcc61;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.31746), inset 0 0 0 1px rgba(255, 255, 255, 0.19048);
    font-size: 45px; }
    .tile.tile-256 .tile-inner:before {
      border-top-color: #edcc61; }
    .tile.tile-256 .tile-inner:after {
      border-bottom-color: #edcc61; }
    @media screen and (max-width: 385px) {
      .tile.tile-256 .tile-inner {
        font-size: 25px; } }
  .tile.tile-512 .tile-inner {
    color: #f9f6f2;
    background: #edc850;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.39683), inset 0 0 0 1px rgba(255, 255, 255, 0.2381);
    font-size: 45px; }
    .tile.tile-512 .tile-inner:before {
      border-top-color: #edc850; }
    .tile.tile-512 .tile-inner:after {
      border-bottom-color: #edc850; }
    @media screen and (max-width: 385px) {
      .tile.tile-512 .tile-inner {
        font-size: 25px; } }
  .tile.tile-1024 .tile-inner {
    color: #f9f6f2;
    background: #edc53f;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.47619), inset 0 0 0 1px rgba(255, 255, 255, 0.28571);
    font-size: 35px; }
    .tile.tile-1024 .tile-inner:before {
      border-top-color: #edc53f; }
    .tile.tile-1024 .tile-inner:after {
      border-bottom-color: #edc53f; }
    @media screen and (max-width: 385px) {
      .tile.tile-1024 .tile-inner {
        font-size: 15px; } }
  .tile.tile-2048 .tile-inner {
    color: #f9f6f2;
    background: #edc22e;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.55556), inset 0 0 0 1px rgba(255, 255, 255, 0.33333);
    font-size: 35px; }
    .tile.tile-2048 .tile-inner:before {
      border-top-color: #edc22e; }
    .tile.tile-2048 .tile-inner:after {
      border-bottom-color: #edc22e; }
    @media screen and (max-width: 385px) {
      .tile.tile-2048 .tile-inner {
        font-size: 15px; } }
  .tile.tile-super .tile-inner {
    color: #f9f6f2;
    background: #3c3a32;
    font-size: 30px; }
    @media screen and (max-width: 385px) {
      .tile.tile-super .tile-inner {
        font-size: 10px; } }

@-webkit-keyframes appear {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0); }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1); } }
@-moz-keyframes appear {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0); }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1); } }
@keyframes appear {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0); }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1); } }
.tile-new .tile-inner {
  -webkit-animation: appear 200ms ease 100ms;
  -moz-animation: appear 200ms ease 100ms;
  animation: appear 200ms ease 100ms;
  -webkit-animation-fill-mode: backwards;
  -moz-animation-fill-mode: backwards;
  animation-fill-mode: backwards; }

@-webkit-keyframes pop {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0); }

  50% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transform: scale(1.2); }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1); } }
@-moz-keyframes pop {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0); }

  50% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transform: scale(1.2); }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1); } }
@keyframes pop {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0); }

  50% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transform: scale(1.2); }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1); } }
.tile-merged .tile-inner {
  z-index: 20;
  -webkit-animation: pop 200ms ease 100ms;
  -moz-animation: pop 200ms ease 100ms;
  animation: pop 200ms ease 100ms;
  -webkit-animation-fill-mode: backwards;
  -moz-animation-fill-mode: backwards;
  animation-fill-mode: backwards; }

.above-game:after {
  content: "";
  display: block;
  clear: both; }

.game-intro {
  float: left;
  line-height: 42px;
  margin-bottom: 0; }

.restart-button {
  display: inline-block;
  background: #8f7a66;
  border-radius: 3px;
  padding: 0 20px;
  text-decoration: none;
  color: #f9f6f2;
  height: 40px;
  line-height: 42px;
  display: block;
  text-align: center;
  float: right; }

.game-explanation {
  margin-top: 50px; }

@media screen and (max-width: 385px) {
  html, body {
    font-size: 15px; }

  body {
    margin: 20px 0;
    padding: 0 20px; }

  h1.title {
    font-size: 27px;
    margin-top: 15px; }

  .container {
    width: 200px;
    margin: 0 auto; }

  .score-container, .best-container {
    margin-top: 0;
    padding: 15px 10px;
    min-width: 40px; }

  .heading {
    margin-bottom: 10px; }

  .game-intro {
    width: 55%;
    display: block;
    box-sizing: border-box;
    line-height: 1.65; }

  .restart-button {
    width: 42%;
    padding: 0;
    display: block;
    box-sizing: border-box;
    margin-top: 2px; }

  .game-container {
    margin-top: 17px;
    position: relative;
    cursor: default;
    -webkit-touch-callout: none;
    -ms-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -ms-touch-action: none;
    touch-action: none;
    background: #bbada0;
    width: 204.75209px;
    height: 354.64101px;
    overflow: visible;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    .game-container:after {
      content: "";
      position: absolute;
      left: -101.37604px;
      bottom: 0;
      width: 0;
      height: 0;
      border-bottom: 177.32051px solid transparent;
      border-top: 177.32051px solid transparent;
      border-right: 102.37604px solid #bbada0; }
    .game-container:before {
      content: "";
      position: absolute;
      right: -101.37604px;
      bottom: 0;
      width: 0;
      height: 0;
      border-bottom: 177.32051px solid transparent;
      border-top: 177.32051px solid transparent;
      border-left: 102.37604px solid #bbada0; }
    .game-container .game-message {
      display: none;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba(238, 228, 218, 0.5);
      z-index: 100;
      text-align: center;
      -webkit-animation: fade-in 800ms ease 1200ms;
      -moz-animation: fade-in 800ms ease 1200ms;
      animation: fade-in 800ms ease 1200ms;
      -webkit-animation-fill-mode: both;
      -moz-animation-fill-mode: both;
      animation-fill-mode: both; }
      .game-container .game-message p {
        font-size: 60px;
        font-weight: bold;
        height: 60px;
        line-height: 60px;
        margin-top: 222px; }
      .game-container .game-message .lower {
        display: block;
        margin-top: 59px; }
      .game-container .game-message a {
        display: inline-block;
        background: #8f7a66;
        border-radius: 3px;
        padding: 0 20px;
        text-decoration: none;
        color: #f9f6f2;
        height: 40px;
        line-height: 42px;
        margin-left: 9px; }
        .game-container .game-message a.keep-playing-button {
          display: none; }
      .game-container .game-message.game-won {
        background: rgba(237, 194, 46, 0.5);
        color: #f9f6f2; }
        .game-container .game-message.game-won a.keep-playing-button {
          display: inline-block; }
      .game-container .game-message.game-won, .game-container .game-message.game-over {
        display: block; }

  .grid-container {
    margin-top: 28.75px;
    margin-left: -80.00372px;
    display: table;
    position: absolute;
    z-index: 1; }

  .grid-row {
    margin-bottom: 27.41025px; }
    .grid-row:nth-child(1), .grid-row:nth-child(5) {
      margin-left: 74.95191px; }
    .grid-row:nth-child(2), .grid-row:nth-child(4) {
      margin-left: 37.47595px; }
    .grid-row:last-child {
      margin-bottom: 0; }
    .grid-row:after {
      content: "";
      display: block;
      clear: both; }

  .grid-cell {
    display: table-cell;
    padding-left: 0;
    padding-right: 10px;
    margin-right: 10px;
    border-radius: 3px; }
    .grid-cell .hexagon {
      background: #ccc0b4;
      width: 64.95191px;
      height: 37.5px;
      position: relative; }
      .grid-cell .hexagon:after {
        content: "";
        position: absolute;
        top: -17.75px;
        left: 0;
        width: 0;
        height: 0;
        border-left: 32.47595px solid transparent;
        border-right: 32.47595px solid transparent;
        border-bottom: 18.75px solid #ccc0b4; }
      .grid-cell .hexagon:before {
        content: "";
        position: absolute;
        bottom: -17.75px;
        left: 0;
        width: 0;
        height: 0;
        border-left: 32.47595px solid transparent;
        border-right: 32.47595px solid transparent;
        border-top: 18.75px solid #ccc0b4; }
      .grid-cell .hexagon:last-child {
        margin-right: 0;
        padding-right: 0; }
      .grid-cell .hexagon:first-child {
        padding-left: 0; }

  .grid-row:nth-child(3) > .grid-cell:nth-child(3) .hexagon {
    background: transparent; }
    .grid-row:nth-child(3) > .grid-cell:nth-child(3) .hexagon:after, .grid-row:nth-child(3) > .grid-cell:nth-child(3) .hexagon:before {
      border-color: transparent; }

  .tile-container {
    position: absolute;
    z-index: 2; }

  .tile, .tile .tile-inner {
    line-height: 49.5px; }
  .tile .tile-inner {
    background: #eee4da;
    width: 65.81793px;
    height: 38px;
    position: relative; }
    .tile .tile-inner:after {
      content: "";
      position: absolute;
      top: -18px;
      left: 0;
      width: 0;
      height: 0;
      border-left: 32.90897px solid transparent;
      border-right: 32.90897px solid transparent;
      border-bottom: 19px solid #eee4da; }
    .tile .tile-inner:before {
      content: "";
      position: absolute;
      bottom: -18px;
      left: 0;
      width: 0;
      height: 0;
      border-left: 32.90897px solid transparent;
      border-right: 32.90897px solid transparent;
      border-top: 19px solid #eee4da; }
  .tile.tile-position-1-1 {
    -webkit-transform: translate(-5.05181px, 28.75px);
    -moz-transform: translate(-5.05181px, 28.75px);
    transform: translate(-5.05181px, 28.75px); }
  .tile.tile-position-1-2 {
    -webkit-transform: translate(-42.52777px, 93.66025px);
    -moz-transform: translate(-42.52777px, 93.66025px);
    transform: translate(-42.52777px, 93.66025px); }
  .tile.tile-position-1-3 {
    -webkit-transform: translate(-80.00372px, 158.57051px);
    -moz-transform: translate(-80.00372px, 158.57051px);
    transform: translate(-80.00372px, 158.57051px); }
  .tile.tile-position-2-1 {
    -webkit-transform: translate(69.90009px, 28.75px);
    -moz-transform: translate(69.90009px, 28.75px);
    transform: translate(69.90009px, 28.75px); }
  .tile.tile-position-2-2 {
    -webkit-transform: translate(32.42414px, 93.66025px);
    -moz-transform: translate(32.42414px, 93.66025px);
    transform: translate(32.42414px, 93.66025px); }
  .tile.tile-position-2-3 {
    -webkit-transform: translate(-5.05181px, 158.57051px);
    -moz-transform: translate(-5.05181px, 158.57051px);
    transform: translate(-5.05181px, 158.57051px); }
  .tile.tile-position-2-4 {
    -webkit-transform: translate(-42.52777px, 223.48076px);
    -moz-transform: translate(-42.52777px, 223.48076px);
    transform: translate(-42.52777px, 223.48076px); }
  .tile.tile-position-3-1 {
    -webkit-transform: translate(144.852px, 28.75px);
    -moz-transform: translate(144.852px, 28.75px);
    transform: translate(144.852px, 28.75px); }
  .tile.tile-position-3-2 {
    -webkit-transform: translate(107.37604px, 93.66025px);
    -moz-transform: translate(107.37604px, 93.66025px);
    transform: translate(107.37604px, 93.66025px); }
  .tile.tile-position-3-3 {
    -webkit-transform: translate(69.90009px, 158.57051px);
    -moz-transform: translate(69.90009px, 158.57051px);
    transform: translate(69.90009px, 158.57051px); }
  .tile.tile-position-3-4 {
    -webkit-transform: translate(32.42414px, 223.48076px);
    -moz-transform: translate(32.42414px, 223.48076px);
    transform: translate(32.42414px, 223.48076px); }
  .tile.tile-position-3-5 {
    -webkit-transform: translate(-5.05181px, 288.39102px);
    -moz-transform: translate(-5.05181px, 288.39102px);
    transform: translate(-5.05181px, 288.39102px); }
  .tile.tile-position-4-2 {
    -webkit-transform: translate(182.32795px, 93.66025px);
    -moz-transform: translate(182.32795px, 93.66025px);
    transform: translate(182.32795px, 93.66025px); }
  .tile.tile-position-4-3 {
    -webkit-transform: translate(144.852px, 158.57051px);
    -moz-transform: translate(144.852px, 158.57051px);
    transform: translate(144.852px, 158.57051px); }
  .tile.tile-position-4-4 {
    -webkit-transform: translate(107.37604px, 223.48076px);
    -moz-transform: translate(107.37604px, 223.48076px);
    transform: translate(107.37604px, 223.48076px); }
  .tile.tile-position-4-5 {
    -webkit-transform: translate(69.90009px, 288.39102px);
    -moz-transform: translate(69.90009px, 288.39102px);
    transform: translate(69.90009px, 288.39102px); }
  .tile.tile-position-5-1 {
    -webkit-transform: translate(294.75581px, 28.75px);
    -moz-transform: translate(294.75581px, 28.75px);
    transform: translate(294.75581px, 28.75px); }
  .tile.tile-position-5-2 {
    -webkit-transform: translate(257.27985px, 93.66025px);
    -moz-transform: translate(257.27985px, 93.66025px);
    transform: translate(257.27985px, 93.66025px); }
  .tile.tile-position-5-3 {
    -webkit-transform: translate(219.8039px, 158.57051px);
    -moz-transform: translate(219.8039px, 158.57051px);
    transform: translate(219.8039px, 158.57051px); }
  .tile.tile-position-5-4 {
    -webkit-transform: translate(182.32795px, 223.48076px);
    -moz-transform: translate(182.32795px, 223.48076px);
    transform: translate(182.32795px, 223.48076px); }
  .tile.tile-position-5-5 {
    -webkit-transform: translate(144.852px, 288.39102px);
    -moz-transform: translate(144.852px, 288.39102px);
    transform: translate(144.852px, 288.39102px); }

  .tile .tile-inner {
    font-size: 35px; }

  .game-message p {
    font-size: 30px !important;
    height: 30px !important;
    line-height: 30px !important;
    margin-top: 90px !important; }
  .game-message .lower {
    margin-top: 30px !important; } }
